.btn-home {
    border-radius: 20px;
    font-size: 20px;
    margin: 13px 0;
    font-weight: normal;
    width: 75%;
    font-weight: 600;
    font-family: 'Muli';
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
}

.btn-type1 {
    color: #EEE;
    background-color: #222;
   
    &:hover, &:focus {
        background-color: #444;
    }
}

.btn-type2 {
    color: #EEE;
    background-color: rgb(30, 30, 74);
    
    &:hover, &:focus {
        background-color: rgb(70, 68, 92);
    }
}