.btn-home {
    border-radius: 10px;
    font-size: 17px;
    margin: 10px 5px;
    font-weight: normal;
    font-weight: 600;
    font-family: 'Muli';
    cursor: pointer;
    display: inline-block;
    line-height: 2;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
}

.btn-type1 {
    color: #EEE;
    background-color: #222;
   
    &:hover, &:focus {
        background-color: #444;
    }
}

.btn-type2 {
    color: #EEE;
    background-color: rgb(41, 41, 134);
    
    &:hover, &:focus {
        background-color: rgb(92, 92, 191);
    }
}


.topic-title{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}