.word-list-table{
    margin: 10px;
    border-collapse: collapse;

    td{
        padding: 1px 5px;
        border: 1px solid #CCC;
    }
}

.search-text-input{
    font-size: 16px;
    padding: 8px;
    width: calc(100% - 20px);
}

.conjugator-button2{
    padding: 3px;
    background-color: #174a0e;
    color: #EEE;
    border-radius: 5px;
    font-size: 13px;

    &:hover{
        background-color: #328b22;
    }
}